@media screen and (min-width:1024px) and (max-width:1140px) {
    .setCenter {
        justify-content: center;
    }

    .setRigthcenter{
        align-items: center;
    }
}

.jobDescription > p {
    font-weight: 400;
    font-size: 16px; /* or any other desired size */
  }

.jobDescription>h1{
    /* font-size: initial; */
    font-weight: 600;
    font-size: 32px
}

.jobDescription>h2{
    font-weight: 600;
    font-size: 24px
}

.jobDescription>h3{
    /* font-size: initial; */
    font-weight: 600;
    font-size: 18px
}

.jobDescription > ul {
    list-style-type: disc; /* Default bulleted list */
  }
  
  .jobDescription > ol {
    list-style-type: decimal; /* Default numbered list */
  }